*{margin: 0;padding:0;font-family:arial;color:#555}

div{
  position: sticky;
  top:0;
  background: white;
}

ul{
  width: 250px;
  margin: 20px auto;
}

li{
  user-select: none;
  margin: 7px;
  padding: 7px;
  border: 1px solid black;
  height: 50vh;
  list-style: none;
}

li:after{
  content:'';
  display: inline-block;
  width: 12px;
  height:12px;
  margin-left: 7px;
  background-color: transparent;
}

li:hover:after{background:green;}
.tachar{text-decoration: line-through;}
.opacar{color: #bbb;}
