*{
  font-size: 26px;
}

button{
  font-size: 125%;
  line-height: 1.5;
  padding: .3rem .8rem;
  border: 1px solid #9b9b9b;
  background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 -.05em -.05em rgba(0,0,0,.5);
  margin-left: .3rem;
}

button.cancel{
  background-color: #c00;
}

button.ok{
  background-color: #6b0;
}